.container {
    background-color: var(--bgSoft);
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .navtext {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
    margin-left: 45px;
}
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .form input,
  .form textarea,
  .form select {
    padding: 30px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 20px;
    
  }
  
  .form input, .form select {
    width: 45%;
  }
  
  .form textarea{
    margin-left: 45px;
    margin-right: 45px;
    width: 100%;
  }
  
  .button{
    font-size: 20px;
    width: 20%;
    margin-left: 40%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  